  html, body {
    height: 100%;
    margin: 0;
    padding:0;
    background-color: white;
  }

  body{
    background: url('img/woods-background.jpg');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    filter: contrast(1);
    margin: 0;
  }
  
  * {
    border-style: border-box;
  }

  p{
    margin: 0;
  }

  .empty:after{
    content:"";
    display:inline-block;
    width:0px;
  }

  .question{
    display: block;
    color: black;
  }

  .questions{
    border: solid 2px black;
    padding: 5px;
    margin: 0 auto;
    width: 50%;
    background-image: linear-gradient(to bottom right, lightgray, white);
    border-radius: 5px;
  }

  .red{
    color: red;
  }

  .green{
    color: green;
  }

  .status{
    border: 2px solid black;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    font-size: 20px;
    padding: 5px;
    color: black;
    background-image: linear-gradient(to bottom right, lightgray, white);
  }

  .status > ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  header1, header3{
    display: block;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    color: white;
    mix-blend-mode: exclusion;
  }
  
  header3{
    font-weight: bolder;
    font-size: 55px;
    margin-bottom: 20px;
  }

  .blank{
    border: none;
    background: none;
  }
  
  .answer{
    font-size: 20px;
    float: left;
  }

  .ans-label{
    float: left;
    color: blue;
    font-size: 20px;
    padding-left: 20px;
  }
  
  input[type='radio']{
    float: left;
  }

  button[type="submit"] {
  width: 200px;
  height: 40px;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: white;
  background: black;
  border: 0;
  cursor: pointer;
  margin-bottom: 0;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  clear: both;
}

h1{
  color: white;
  background-color: black;
}

@media screen and (max-width: 460px) {
  .status{
    right: 50%;
    margin-right: -60px;
  }

  .questions{
    width: 90%;
  }

  header3, header1{
    font-size: 40px;
    margin-bottom: 5px;
  }

  .question{
    font-size: 18px;
  }

}