html, body {
  height: 100%;
  }
  
  * {
    border-style: border-box;
  }
  
  body {
   font-size: 25px;
   font-weight: bolder;
   text-align: center;
   filter: contrast(1);
   margin: 0;
  }
  
  .bkgrnd{
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .entry{
    display: block;
    color: black;
  }
  
  header1, header3{
    display: block;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    color: orange;
  }
  
  header3{
    font-weight: bolder;
    font-size: 55px;
    margin-bottom: 20px;
  }
  
  fieldset{
    border: none;
  }
  
  label{
    color: orange;
  }
  
  .results{
    color: black;
    list-style: none;
  }
  
  .answer{
    font-size: 35px;
  }
  
  input[type='submit']{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  footer > header1{
    color: black;
    background-color: white;
  }